<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">

  <section class="about-description">
    <h3><span translate>TITLE_ABOUT</span> <small style="margin-left: 10px;" translate>SECTION_CORPORATE_HISTORY</small></h3>
    <p class="text-justify">
      People from all walks of life are living their passion with the help of Juice Shop! Take it from Captain James T. Kirk, Starfleet captain and long-time Juice Shop customer: "Whether I'm on the bridge of the U.S.S Enterprise or inexplicably ripping my shirt off while fighting some kind of lizard thing down on an alien planet, I always have a glass of refreshing Juice Shop juice in my hand! My mission is to boldly go where many have gone before...over to the Juice Shop website to order another case!"

      <a href="/ftp/legal.md" translate>LINK_TERMS_OF_USE</a>
    </p>
  </section>

  <div class="feedback">
    <h3><span translate>SECTION_CUSTOMER_FEEDBACK</span></h3>
    <slideshow [height]="'300px'"
               [autoPlay]="true"
               [showArrows]="true"
               [showDots]="false"
               [imageUrls]="slideshowDataSource">
    </slideshow>

    <div *ngIf="twitterUrl || facebookUrl" class="social">
      <h3><span translate="">SECTION_SOCIAL_MEDIA</span></h3>
      <a *ngIf="twitterUrl" [href]="twitterUrl" target="_blank" rel="noopener noreferrer"><button mat-raised-button color="accent"><i class="fab fa-twitter fa-lg"></i> Twitter</button></a>
      <a *ngIf="facebookUrl" [href]="facebookUrl" target="_blank" rel="noopener noreferrer"><button mat-raised-button color="accent"><i class="fab fa-facebook fa-lg"></i> Facebook</button></a>
      <a *ngIf="slackUrl" [href]="slackUrl" target="_blank" rel="noopener noreferrer"><button mat-raised-button color="accent"><i class="fab fa-slack fa-lg"></i> Slack</button></a>
      <a *ngIf="redditUrl" [href]="redditUrl" target="_blank" rel="noopener noreferrer"><button mat-raised-button color="accent"><i class="fab fa-reddit fa-lg"></i> Reddit</button></a>
      <a *ngIf="pressKitUrl" [href]="pressKitUrl" target="_blank" rel="noopener noreferrer"><button mat-raised-button color="accent"><i class="far fa-newspaper fa-lg"></i> Press Kit</button></a>
    </div>
  </div>

</div>
